*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Philosopher', sans-serif;
}

p{
    font-family: 'Source Code Pro', monospace;
}

h2{
    font-family: 'Philosopher', sans-serif;  
}
a{
    font-family: 'Source Code Pro', monospace;
}

/* #6C63FF */

nav{
    background-color: #6C63FF;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    align-items: center;
    /* border-bottom: 1px solid gainsboro; */
    box-shadow: 1px 1px 1px #888888;
    font-family: 'Source Code Pro', monospace;
    position: fixed;
    width: 100%;
}

.bi{
    display: none;
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    padding-left: 2em;
}

li a{
    text-decoration: none;
    color: #fff;
}

header{
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Philosopher', sans-serif;
    padding: 2em;
}

.header-text h3,p,button{
    margin-top:1em;
}

.header-img img{
    width: 100%;
    max-width: 500px;
    height: auto;
}

.btn{
    padding: 12px 18px;
    background-color: #6C63FF;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
}
span{
    margin-left: 1em;
    color: #fff;
    padding-bottom: 2em;
}

.btn a{
    text-decoration: none;
}

.about{
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(244, 247, 246);
    padding-bottom: 3em;
    font-family: 'Poppins', sans-serif;
    padding: 1em;
}

.about-img{
    background-color: #6C63FF;
    border-radius: 50%;
    padding: -5em;
}

.about-text{
    width: 100%;
    max-width: 500px;
    flex-wrap: wrap;
}
.about-text h2{
    text-align: center;
    margin-top: 2em;
}



.about-img img{
    height: 300px;
    margin-top: -4em;
}

.btn-group{
    text-align: center;
}

.portfolio h2{
    text-align: center;
    padding-top: 1.5em;
}

.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.card-col{
    background-color: rgb(244, 247, 246);
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 2em;
}

.card-col .card-title{
    font-weight:600;
}

.services h2{
    text-align: center;
    padding-top: 1.5em;
}

.underline{
    background-color: #6C63FF;
    display: block;
    width: 3em;
    height: .1em;
    margin: 0 auto;
    margin-bottom: 2em;
    margin-top: .1em;
}

.services-card{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.services-card .card{
    box-shadow: 2px 2px 2px 2px #dbdbdb;
    padding: 1em;
    width: 100%;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 2em;
}

.services-card p{
    padding-bottom: 1em;
}

.services-card span{
    color: #6C63FF;
}

/* .services-card span img{
    margin-top: 1em;
} */

.services-card .toggle{
    cursor: pointer;
}

.modal{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding-top: 100px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.front{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.ui{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.brand{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.data{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.dflex{
    display: flex;
    justify-content: space-between;
}

.dflex img{
    cursor: pointer;
}

.skills{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2em;
    padding-bottom: 2em;
}

.skills-text{
    width: 100%;
    max-width: 500px;
}

.skills-img{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 300px;
}

.image{
    padding: 1.6em;
}

.skills-img img{
    width: 48px;
    height: 48px;
    box-shadow: 2px 2px 2px 5px gainsboro;
    border-radius: 5px;
}

.foot{
    display: flex;
    min-height: 150px;
    justify-content: center;
    align-items: center;
    background-color: #6C63FF;
}

.foot img{
    width: 24px;
    height: 24px;
    margin-left: 2em;
}

@media screen and (max-width: 600px) {
    ul{
        display: none;
        list-style-type: none;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100vh;
    }

    .bi-list{
        display: block;
        font-size: 1.6em;
    }

    .bi-x{
        display: none;
        font-size: 2em;
        top: 1%;
        right: 90%;
        position: absolute;
    }
}